* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1,
h2 {
  margin: 20px 0;
}

select {
  padding: 10px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.priority {
  border-left: 5px solid green;
}

span {
  color: blue;
  font-weight: bold;
}